:root {
	--container: rgba(255, 255, 255, 0.12);
	--bg-img: none;
	--text-color: none;
	--bg-size: cover;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

html,
body {
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
		Arial;
	color: var(--text-color);
	box-sizing: border-box;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
	margin-top: 64px;
}

body {
	overflow-y: auto;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: var(--bg-img);
	background-repeat: no-repeat;
	background-attachment: fixed; /* Hintergrund bleibt stehen */
	background-size: var(--bg-size); /* passt Bild an */
	background-position: center;
}

a {
	width: 90%;
	text-align: center;
	padding: 5px;
	color: var(--text);
}

#topbar {
	position: fixed;
	display: flex;
	justify-content: space-between; /* alles linksbündig */
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 90%;
	text-align: end;
	font-size: 24px;
	font-weight: 600;
	z-index: 1000;
}


.container {
	background-color: var(--container);
	box-shadow: 4px 16px 20px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	max-width: 80%;
	padding: 20px;
}

#sec {
	padding-top: 10px;
	display: flex;
	justify-content: center;
	margin: 36px auto;
	text-align: center;
	padding: 24px;
	font-size: large;
	white-space: pre-line;
}

#logo {
	height: 128px; /* Höhe des Logos */
	display: block;
	background-size: contain; /* skaliert das Bild korrekt */
	background-repeat: no-repeat;
	background-position: center;
	
}

#back {
	margin-bottom: 16px;
	width: 100px;
	z-index: 100;
	color: var(--text-color);
	width: 100%;
}
